<h1><%= @room.title %></h1>
<p><%= @room.body %></p>
<% if @room.paths_out.size > 0 %>
  <ul>
      <% @room.paths_out.each do |path| %>
        <li>
          <%= link_to path.choice, path.to_room %>
        </li>
      <% end %>
  </ul>
<% end %>