<div class="game-container">
  <h1>Choose Your Own Adventure</h1>
  <p>Welcome to this adventure game! The primary purpose of this game is to demonstrate rails programming techniques, but it might end up being good. Who knows?</p>
  <% unless Room.first.nil? %>
  <%= link_to "Begin", user_room_path(Room.first.user.username, Room.first) %>
  <% end %>
</div>
