<div class="game-container">
  <h1><%= @room.title %></h1>
  <div><%= simple_format(@room.body) %></div>
  <% if @room.paths_out.size > 0 %>
    <ul>
        <% @room.paths_out.each do |path| %>
          <li>
            <%= link_to path.choice, game_path(path.to_room) %>
          </li>
        <% end %>
    </ul>
  <% end %>
</div>